<%= @selected_flight.quick_flight_info %><br>

 <br>

<%= form_with model: @booking do |form| %>
  <% if @booking.errors.any? %>
    <div>
      <p>
        <%= pluralize(@booking.errors.count, "error") %> prohibited this booking from saving:
      </p>
      <ul>
        <% @booking.error.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :flight_option, :value => params[:flight_option] %>
  <%= form.hidden_field :number_of_passengers, :value => params[:number_of_passengers] %>

  Add passenger info:
  <ul>
    <%= form.fields_for :passengers do |passenger_form| %>
      <li>
        <%= passenger_form.label :name %>
        <%= passenger_form.text_field :name %>

        <%= passenger_form.label :email %>
        <%= passenger_form.email_field :email %>
      </li>
    <% end %>
  </ul>
  <%= form.submit "Finalise the Booking" %>
<% end %>


